---
layout: default
latest: "/downloads/framework/hexMachina-framework-v0.2.5.zip"
---
<section>

<div class="table">

	<div class="table_cell">
		<h3>What is hexMachina?</h3>
		A powerful multi-modular MVC framework written in <a href="http://haxe.org" target="_blank">Haxe</a>.
	</div>

	<div class="spacer"> </div>

	<div class="table_cell">
		<h3>What is it for?</h3>
		For building configurable, large scaling modular applications, games, stateful websites and servers, targeting different platforms.
		hexMachina is an OpenSource project, free to use and collaborate with it.
	</div>

	<div class="spacer"> </div>

	
	<div class="table_cell">
		<h3>Try it!</h3>
		<center>
		Install from command line (recommended):<br/>
		<code>haxelib install hexmachina</code><br/><br/>
		<a href="{{ page.latest }}" class="btn">Download Latest</a>
		</center>
	</div>
</div>


<h4>Want to learn more?</h4>
	<ul>
		<li>Join the community: <a href="/forum.html">Forum</a></li>
		<li>Check our github repositories: <a href="https://github.com/DoclerLabs?utf8=%E2%9C%93&query=hex">Github hexMachina</a></li>
		<li>Follow and read our website for updates.</li>
	</ul>
<hr/>
</section>
<section>

{% for post in site.posts %}

      <div id="title">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{% if post.secondary-title != null %}
        <h5>{{ post.secondary-title }}</h5>
		{% endif %}
		<br/>
		{{ post.date | date: '%B %d, %Y' }}
        <hr>
      </div>
      {{ post.excerpt }}
      <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Read more</a>
{% endfor %}
</section>