<div class="box col-lg-6 col-md-12 col-sm-12 col-xs-12">
	<div class="box-content">
		{% if post.img %}
		<a href="{{post.url | prepend: site.baseurl }}">
			<div class="post-image" style="background-image:url({{ post.img | prepend: site.baseurl }})"></div>
		</a>
		{% endif %}
		<div class="text-content">
			<time>{{ post.date | date_to_long_string }}</time>
			{% assign categoryname = post.category | slugify %}
			{% assign categorylink = '/blog/category/' | append:categoryname %}
			<a href="{{ categorylink | prepend: site.baseurl }}" class="category">{{ post.category }}</a>
			<a href="{{post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
			<hr class="divider"/>
			{{ post.excerpt }}
			<a href="{{post.url | prepend: site.baseurl }}" class="read-more">Read more &raquo;</a>
			<ul class="tags">
				{% for tag in post.tags %}
					{% assign tagname = tag | slugify %}
					{% assign taglink = '/blog/tag/' | append:tagname %}
					<li><a href="{{ taglink | prepend: site.baseurl }}">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>