<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
<div class="wrapper">
<footer id="footer">
    <p class="copyright">
        <span class="">Contact us on Facebook: <a href="https://www.facebook.com/francis.bourre" target="_blank">Francis Bourre</a> | 
		<a href="https://www.facebook.com/balazs.zubak" target="_blank">Balazs Zubak</a> | 
		<a href="https://www.facebook.com/ldeketelaere" target="_blank">Laurent Deketelaere</a> | 
		<a href="https://www.facebook.com/DoclerHolding" target="_blank">@DoclerLabs</a> </span>
    </p>
    <p class="footer-links">
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>
</footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78464445-1', 'auto');
  ga('send', 'pageview');

</script>