<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HEXMACHINA - a powerful multi-modular MVC framework written in Haxe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<link rel="icon" href="{{site.baseurl}}/img/hexmachinafavicon.png" sizes="32x32" />
	<link rel="icon" href="{{site.baseurl}}/img/hexmachinafavicon.png" sizes="192x192" />
	<link rel="icon" type="image/png" href="{{site.baseurl}}/img/hexmachinafavicon.png">
	<link rel="apple-touch-icon" href="{{ "/img/appicon.png" | prepend: site.baseurl }}"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{site.baseurl}}/css/simple.css">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{site.baseurl}}/feed.xml">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet" type="text/css">
</head>
