<div id="header">

  <div class="wrapper">
    <div class="nav">
      <h1><a href="{{ site.baseurl | prepend: site.url }}" class="title">{{ site.title }}</a></h1>
      <a href="https://github.com/DoclerLabs?utf8=%E2%9C%93&query=hex" class="btn right">View On GitHub</a>
    </div>
  </div>

</div><!-- end header -->
<div class="wrapper">
<img style="width:100%" src="/images/hexmachinalogo_darkened.jpg" alt="hexMachina-logo" border="0" class="header_image" />
	<div class="blue_ruler">
		<a href="/">Home</a>
		<a href="/2016/05/30/features.html">Features</a>
		<!--<a href="/">Download</a>-->
		<a href="/forum.html">Forum</a>
		<a href="/docs" target="_blank">Documentation</a>
	</div>
</div>