<section class="banner-section parallax-window" data-parallax="scroll" data-image-src="{{site.baseurl}}/img/hex-machina-bg.jpg" data-naturalHeight="700" data-positionY="-100">
	<div class="container">
		<div class="banner-text">
			<h1>A powerful multi-modular MVC framework written in Haxe.</h1>
			<h4><span>Try it!</span> Install from command line</h4>
			<p class="code">haxelib install hexmachina</p>
		</div>
		<button type="button" class="btn action-btn">Download hexMachina v0.3.0</button>
	</div>
	<div id="particles-js"></div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>What is it for?</h2>
				<hr class="divider"/>
				<p>For building configurable, large scaling modular applications, games, stateful websites and servers, targeting different platforms. hexMachina is an OpenSource project, free to use and collaborate with it.</p>
			</div>
			<div class="col-lg-6 learn-more">
				<h2>Want to learn more?</h2>
				<hr class="divider"/>
				<div class="row">
					<div class="col-lg-6">
						<h6>Join the Community</h6>
						<a href="{{site.baseurl}}/help">hexMachina Forum</a>
						<h6>Check our github repositories</h6>
						<a href="https://github.com/DoclerLabs">Github hexMachina</a>
					</div>
					<div class="col-lg-6">
						<h6>Want to learn more?</h6>
						<a href="{{site.baseurl}}/docs">hexMachina Documentation</a>
						<h6>Follow our website for updates</h6>
						<a href="{{site.baseurl}}/blog">hexMachina Blog</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Features of the framework</h2>
				<hr class="divider"/>
				<p>Including but not limited to, here are the main cornerstone features of the framework. If you are interested in more details check the documentations.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexMVC"><h6>hexMVC</h6></a>
				<p class="text-small">MVC implementation for writing individual modules with the classical Model-View-Controller structural pattern. Lightweight experimental MVP is provided as well.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexInject"><h6>hexInject</h6></a>
				<p class="text-small">Powerful and easy-to-use Dependency Injection system based on @annotations. It supports property, method and constructor injections predefined in injector mappings.mocking and assertion system. FlexUnit and JUnit like syntax.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexIoC"><h6>hexIoC</h6></a>
				<p class="text-small">Inverion of Control system to make multi-modular applications. With this layer you can have an extremely powerful DSL layer (Domain Specific Language), where you can connect togethet any modules, componends of your system and make them working together.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexUnit"><h6>hexUnit</h6></a>
				<p class="text-small">Extendable UnitTest runner with the basic assertions. It works well together with any mocking and assertion system. FlexUnit and JUnit like syntax.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
		</div>
		<div class="row reveal">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexIoC"><h6>hexIoC</h6></a>
				<p class="text-small">Inverion of Control system to make multi-modular applications. With this layer you can have an extremely powerful DSL layer (Domain Specific Language), where you can connect togethet any modules, componends of your system and make them working together.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexUnit"><h6>hexUnit</h6></a>
				<p class="text-small">Extendable UnitTest runner with the basic assertions. It works well together with any mocking and assertion system. FlexUnit and JUnit like syntax.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
		</div>
		<div class="row reveal">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexIoC"><h6>hexIoC</h6></a>
				<p class="text-small">Inverion of Control system to make multi-modular applications. With this layer you can have an extremely powerful DSL layer (Domain Specific Language), where you can connect togethet any modules, componends of your system and make them working together.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexUnit"><h6>hexUnit</h6></a>
				<p class="text-small">Extendable UnitTest runner with the basic assertions. It works well together with any mocking and assertion system. FlexUnit and JUnit like syntax.</p>
				<textarea class="code-haxe cm-hexmachina">
	for (name in people.keys()) {
		var job = people[name];
		trace('$name does $job for a living!');
	}
				</textarea>
			</div>
		</div>
		<div class="more">
			<hr class="divider"><br>
			<button class="read-more">See all Features &raquo;</button>
		</div>
	</div>
</section>
<section class="carousel-section">
	<div class="flickity">
		<div class="gallery-cell">
			<div class="banner-text">
				<h4>“We love the approachable format, and the fact that they chose ti feature customers that users can really relate to. When you click into any story, you can read the whole case study in a Q&A format„</h4>
				<p>David Rushkoff</p>
				<span>HAXE Developer from Germany</span>
			</div>
		</div>
		<div class="gallery-cell">
			<div class="banner-text">
				<h4>“We love the approachable format, and the fact that they chose ti feature customers that users can really relate to. When you click into any story, you can read the whole case study in a Q&A format„</h4>
				<p>David Rushkoff</p>
				<span>HAXE Developer from Germany</span>
			</div>
		</div>
	</div>
	<div class="bubble-pattern"></div>
	<img class="img-responsive" src="{{site.baseurl}}/img/pattern-cover.jpg">
</section>

<section class="news-section">
	<div class="container">
		<h2>Blog</h2>
		<div class="row">
			<div class="box-container col-lg-12">
				{% for post in site.posts limit:4 %}
					{% include blog-post.html %}
				{% endfor %}
			</div>
			<div class="more">
				<hr class="divider"/><br>
				<a href="/blog">Read more ></a>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="{{site.baseurl}}/lib/app.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/ReadMore.js"></script>
<script src="{{site.baseurl}}/lib/jquery/jquery-2.2.4.min.js"></script>
<script src="{{site.baseurl}}/lib/parallax/parallax.min.js"></script>
<script src="{{site.baseurl}}/lib/flickity/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/particles/particles.min.js"></script>
<script type="text/javascript">
	app.$carousel = new Flickity('.flickity', {
		wrapAround: true,
		prevNextButtons: false
	});
	$('.carousel-section').parallax({imageSrc: '{{site.baseurl}}/img/pattern-cover.jpg'});
	new app.ReadMore('.features');
	particlesJS.load('particles-js', 'assets/particles.json', function() {});
</script>