<section class="banner-section parallax-window" data-parallax="scroll" data-image-src="{{site.baseurl}}/img/hex-machina-bg.jpg" data-naturalHeight="700" data-positionY="-100">
	<div class="container">
		<div class="banner-text">
			<h1>A powerful multi-modular MVC framework written in Haxe.</h1>
			<h4><span>Try it!</span> Install from command line</h4>
			<p class="code">haxelib install hexmachina</p>
		</div>
		<button type="button" class="btn action-btn">Download hexMachina v0.3.0</button>
	</div>
	<div id="particles-js"></div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>What is it for?</h2>
				<hr class="divider"/>
				<p>For building configurable, large scaling modular applications, games, stateful websites and servers, targeting JavaScript, Flash, PHP, Neko platforms. <br/>hexMachina is OpenSource, free to use and collaborate.</p>
			</div>
			<div class="col-lg-6 learn-more">
				<h2>Want to learn more?</h2>
				<hr class="divider"/>
				<div class="row">
					<div class="col-lg-6">
						<h6>Join the Community</h6>
						<a href="{{site.baseurl}}/help">hexMachina Forums</a>
						<h6>Check Github repositories</h6>
						<a href="https://github.com/DoclerLabs">Github hexMachina</a>
					</div>
					<div class="col-lg-6">
						<h6>Get started</h6>
						<a href="{{site.baseurl}}/docs">hexMachina Documentation</a>
						<h6>Follow our blog</h6>
						<a href="{{site.baseurl}}/blog">hexMachina Blog</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Features of the framework</h2>
				<hr class="divider"/>
				<p>Including but not limited to, here are the main cornerstone features of the framework. If you are interested in more details check the documentations.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexMVC"><h6>hexMVC</h6></a>
				<p class="text-small">MVC implementation for writing individual modules with the classical Model-View-Controller structural pattern.</p>
				<textarea class="code-haxe cm-hexmachina">
class MyModule extends Module implements IMyModule {
	public function new( view:IMyView ) {
		this._addStatelessConfigClasses([MyModuleCommandConfig]);
        this.buildViewHelper(MyViewHelper, view);
	}
}

private class MyModuleCommandConfig extends StatelessCommandConfig {
    override public function configure() {
		this.map(MyModuleMessage.MODULE_READY, InitModuleMacro).once();
        this.map(MyModuleMessage.GET_NEWS, GetNewsCommand);s
	}
}</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexIoC"><h6>hexIoC</h6></a>
				<p class="text-small">Inverion of Control system to make multi-modular applications. You can have an extremely powerful DSL layer (Domain Specific Language), where you can connect togethet any modules, components and describe any dependency, behavior between them.</p>
				<textarea class="code-xml cm-hexmachina">
&lt;module id="myModule" type="myproject.module.mymodule.MyModule"&gt;
	&lt;listen ref="myService" /&gt;
	&lt;event static-ref="myproject.module.myservice.MyServiceMessage.FIRE" method="setFire"/&gt;
	&lt;/listen/&gt;
&lt;/module&gt;

&lt;service id="myService" type="myproject.service.myservice.MyService"&gt;
	&lt;property name="myprop" value="15" /&gt;
&lt;/service&gt;</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexInject"><h6>hexInject</h6></a>
				<p class="text-small">Powerful and easy-to-use Dependency Injection system based on @annotations. It supports property, method and constructor injections predefined in injector mappings.</p>
				<textarea class="code-haxe cm-hexmachina">
class MyClass {
	@Inject
	public var myProperty:IConcreteDependecy;
	
	@Inject( "myName1" )
	public var property1 : String;
	
	@Inject
	public function myFunction( dep : Clazz, dep2 : ISomeInterface ) {
		// function body
	}
}</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexUnit"><h6>hexUnit</h6></a>
				<p class="text-small">Extendable UnitTest runner with a basic set of assertions. It works well together with any mocking and assertion system. JUnit and FlexUnit like syntax.</p>
				<textarea class="code-haxe cm-hexmachina">
class MyTest {
	var service:IMyService;

	@Before
    public function setUp() {
        this.service = new MyServiceMock();
    }
	
	@Test("Test sum method")
	public function testAdd() {
		Assert.equals( 8, service.add( 3, 5 ), "Sum of 3+5 should be 8" );
	}
}</textarea>
			</div>
		</div>
		<div class="row reveal hide">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexService"><h6>hexService</h6></a>
				<p class="text-small">Service layer extension for <b>hexMVC</b> to separate service communications. It has all typical predefined service behaviors like: configuration, success, fail, cancel, timeout, etc.</p>
				<textarea class="code-haxe cm-hexmachina">
var service = new MyService ();
service.addHandler (StatelessServiceMessage.COMPLETE, this, function () {
	trace ("complete");
});</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexAnnotation"><h6>hexAnnotation</h6></a>
				<p class="text-small">Easy-to-use utilities for reading and writing @annotation data.</p>
				<textarea class="code-haxe cm-hexmachina">
class MyAnnotations implements IMyAnnotation {
	@MyAnnotation( "yes" )
	var annotated : String;
	
	@Language( "en" )
	function doTest( i : Int ) : Void {
	}
}</textarea>
			</div>
		</div>
		<div class="row reveal hide">
			<div class="col-lg-6 col-left">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexState"><h6>hexState</h6></a>
				<p class="text-small">Powerful easy-to-use StateMachina system based on Martin Dowler’s implementation. It saves you from a lot of issue with invalid states of your application.</p>
				<textarea class="code-haxe cm-hexmachina">
var logAsUser = new MessageType( "onLogin" );

var anonymous = new State( "anonymous" );
var user = new State( "user" );

var stateMachine = new StateMachine( anonymous );
var controller = new StateController( injector, stateMachine );

anonymous.addTransition( logAsUser, user);

user.addEnterCommand( DisplayWelcomeCommand );

controller.handleMessage( logAsUser );</textarea>
			</div>
			<div class="col-lg-6 col-right">
				<a href="{{site.baseurl}}/docs/codecookbook/#hexCore"><h6>hexCore</h6></a>
				<p class="text-small">Common core libraries that everyone needs in everyday developments like: exceptions, dispatcher, logging system, utils, etc.

</p>
				<textarea class="code-haxe cm-hexmachina">
Logger.getInstance().setLevel( LogLevel.DEBUG );
Logger.getInstance().addListener( new TraceLayout() );
Logger.DEBUG( "test" );

var onTest = new MessageType( "onTest" );
var dispatcher = new Dispatcher<ITestListener>();
dispatcher.addHandler( onTest, this, function () {
	trace( "onTest" )
} );
dispatcher.dispatch( onTest, [] );</textarea>
			</div>
		</div>
		<div class="more">
			<hr class="divider"><br>
			<button class="read-more">See all Features &raquo;</button>
		</div>
	</div>
</section>
<section class="carousel-section">
	<div class="flickity">
		<div class="gallery-cell">
			<div class="banner-text">
				<h4>“All what we did based on real needs, not some artificial coding perversion. We always faced the problem first, and found a solution.„</h4>
				<p>Balazs Zubak</p>
				<span>Software Architect fom Hungary</span>
			</div>
		</div>
		<div class="gallery-cell">
			<div class="banner-text">
				<h4>“We don't write straight up JavaScript anymore!„</h4>
				<p>Francis bourre</p>
				<span>Software Architect from France</span>
			</div>
		</div>
	</div>
	<div class="bubble-pattern"></div>
	<img class="img-responsive" src="{{site.baseurl}}/img/pattern-cover.jpg">
</section>

<section class="news-section">
	<div class="container">
		<h2>Blog</h2>
		<div class="row">
			<div class="box-container col-lg-12">
				{% for post in site.posts limit:4 %}
					{% include blog-post.html %}
				{% endfor %}
			</div>
			<div class="more">
				<hr class="divider"/><br>
				<a href="/blog">Read more ></a>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="{{site.baseurl}}/lib/app.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/ReadMore.js"></script>
<script src="{{site.baseurl}}/lib/jquery/jquery-2.2.4.min.js"></script>
<script src="{{site.baseurl}}/lib/parallax/parallax.min.js"></script>
<script src="{{site.baseurl}}/lib/flickity/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/particles/particles.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/jquery-ellipsis/jquery.ellipsis.min.js"></script>
<script type="text/javascript">
	app.$carousel = new Flickity('.flickity', {
		wrapAround: true,
		prevNextButtons: false
	});
	$(".box p").ellipsis({
		lines: 3,
		responsive: true
	});
	$('.carousel-section').parallax({imageSrc: '{{site.baseurl}}/img/pattern-cover.jpg'});
	$(function () {
		new app.ReadMore('.features', "See all Features »", "« See less Features");
	});
	particlesJS.load('particles-js', 'assets/particles.json', function() {});
</script>