<script type="text/javascript" src="{{"/lib/codemirror/codemirror.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{"/lib/codemirror/mode/haxe/haxe.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{"/lib/flickity/flickity.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{"/lib/packery/packery.pkgd.min.js" | prepend: site.baseurl }}"></script>

<script>
	(function() {

		var mobileMenu = document.getElementsByClassName('mobile-menu')[0];
		var mobileMenuClass = 'mobile-menu-on';
		var body = document.body;

		mobileMenu.addEventListener('click', toggleMobileMenu);

		function toggleMobileMenu() {
			if (document.body.classList.contains(mobileMenuClass)) {
				console.info('Closing mobile menu');
				body.classList.remove(mobileMenuClass);
				body.removeEventListener('touchmove', onTouchMove);
			}
			else {
				console.info('Opening mobile menu');
				body.classList.add(mobileMenuClass);
				body.addEventListener('touchmove', onTouchMove);
			}
		}

		function onTouchMove(ev) {
			ev.preventDefault();
		}

	}());

	var elements = document.getElementsByClassName("code-haxe");
	for(var i=0; i<elements.length; i++) {
		var editor = CodeMirror.fromTextArea(elements[i], {
			mode: "haxe",
			lineNumbers: true,
			theme: "hexmachina",
			lineWrapping: true,
			readOnly: true,
			extraKeys: {
				"Ctrl-Q": function (cm) {
					cm.foldCode(cm.getCursor());
				}
			},
			foldGutter: true,
			gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
		});
	}

	window.onload = function() {
		var pckry = new Packery('.grid', {itemSelector: '.grid-item'});
	}
</script>