<div class="search-filter-block">
	<h3>Categories</h3>
	<ul class="nav filters">
		<li><a href="#">News</a></li>
		<li><a href="#">Design</a></li>
		<li><a href="#">Video</a></li>
	</ul>
	<hr class="divider"/>
	<h3>Tags</h3>
	<ul class="tags">
		<li><a href="#">wwx</a></li>
		<li><a href="#">2016</a></li>
		<li><a href="#">video</a></li>
		<li><a href="#">Francis</a></li>
		<li><a href="#">developers</a></li>
		<li><a href="#">Paris</a></li>
	</ul>
	<hr class="divider"/>
	<h3>Archives</h3>
	<ul class="nav filters">
		<li><a href="#">April, 2016</a></li>
		<li><a href="#">March, 2016</a></li>
		<li><a href="#">Ferbuary, 2016</a></li>
		<li><a href="#">January, 2016</a></li>
		<li><a href="#">2015</a></li>
	</ul>
</div>