<div class="search-overlay">
	<div class="wrapper">
		<script>
			(function() {
				var cx = '010997690404295003250:ejhhrxabuqc';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			})();
		</script>
		<div class="google-search">
			<gcse:search></gcse:search>
		</div>
		<i class="fa fa-search search-button toggle-search">&nbsp;</i>
		<i class="fa fa-times toggle-search">&nbsp;</i>
	</div>
</div>