{% assign rawcats = "" %}
{% for post in site.posts %}
{% assign tcats = post.category | join:'|' | append:'|' %}
{% assign rawcats = rawcats | append:tcats %}
{% endfor %}
{% assign rawcats = rawcats | split:'|' | sort %}
{% assign cats = "" %}
{% for cat in rawcats %}
{% if cat != "" %}
{% if cats == "" %}
{% assign cats = cat | split:'|' %}
{% endif %}
{% unless cats contains cat %}
{% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}
{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<div class="search-filter-block">
	<div class="categories">
		<h3>Categories</h3>
		<ul class="nav filters">
			{% for category in cats %}
				{% assign categorylink = '/blog/category/' | append:category %}
				<li><a href="{{ categorylink | prepend: site.baseurl }}">{{ category }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<hr class="divider"/>
	<h3>Tags</h3>
	<ul class="tags">
		{% for tag in tags %}
			{% assign taglink = '/blog/tag/' | append:tag %}
			<li><a href="{{ taglink | prepend: site.baseurl }}">{{ tag }}</a></li>
		{% endfor %}
	</ul>
	<hr class="divider"/>
	<h3>Archives</h3>
	<ul class="nav filters">
		<li><a href="{{ '/blog/' | prepend: site.baseurl }}">Ferbuary, 2016</a></li>
	</ul>
</div>