@media all and (max-width: 1355px) {
	body {
		.banner-section {
			.banner-text {
				padding: 35px 0;
				h1 {
					font-size: 36px;
					line-height: normal;
				}
			}
		}
		.vertical-menu {
			width: 260px;
		}
	}
}
@media all and (min-width: 1201px) {
	.container {
		width: calc(100% - 60px);
		padding: 0;
	}
	.home {
		.parallax-mirror {
			z-index: 1 !important;
			&.first-child {
				img {
					margin-top: 155px;
				}
			}
		}
		.carousel-section {
			img {
				display: block;
			}
		}
		.footer-above {
			img {
				display: block;
			}
		}
	}
	.vertical-menu {
		right: 30px;
	}
	.category-tag-block {
		margin-right: 30px;
	}
	.docs-container {
		min-height: 500px;
		margin-left: -15px;
		margin-right: -15px;
	}
	footer {
		img {
			padding-right: 7px;
		}
	}
	.hide-on-desktop {
		display: none;
	}
}
@media screen and (min-width: 1680px) {
	.container {
		max-width: 1600px;
	}
	.vertical-menu {
		right: calc((100% - 1600px) / 2);
	}
	.category-tag-block {
		margin-right: calc((100% - 1600px) / 2);
	}
}