body {
	margin-top: 220px;
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	a, a:hover, a:focus, a:active, a.active {
		color: #f42233;
	}
	.secondary-link {
		color: #1a467f;
		font-weight: 700;
	}
	img {
		width: 100%;
	}
	p {
		margin: 18px 0;
		color: #262c35;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		&.code {
			margin-top: 5px;
			font: normal 20px/20px monospace;
			color: #aacfff;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Lato';
	}
	h1 {
		color: #FFFFFF;
		font-weight: 100;
		font-size: 60px;
		line-height: 72px;
		text-transform: none;
		margin-bottom: 25px;
	}
	h2 {
		margin-top: 0;
		font-size: 40px;
		font-weight: 400;
		color: #1a467f;
		text-transform: none;
	}
	h3 {
		position: relative;
		margin-top: 10px;
		font-size: 26px;
		font-weight: 700;
		color: #1a467f;
		text-transform: none;
	}
	h4 {
		color: #FFFFFF;
		font-size: 20px;
		line-height: 24px;
		span {
			color: #f42233;
		}
	}
	h5 {
		color: #FFFFFF;
		font-weight: 300;
		font-size: 19px;
		text-transform: none;
	}
}
#disqus_thread {
	float: left;
	width: 100%;
	background: #fff;
	margin-top: 10px;
	padding: 23px 40px;
	border-radius: 10px;
}
.clear {
	display: block;
	clear: both;
	float: none;
}
.page-layout {
	h2 {
		float: none;
	}
	.divider {
		margin: 20px 0 20px 20px;
	}
}
.thread-layout {
	h2 {
		font-weight: 300;
	}
}
.breadcrumb {
	background: none;
	margin: 0;
	a, li {
		color: #1a467f;
	}
	li:last-child {
		font-weight: 700;
	}
	li+li:before {
		content: '\BB';
		color: #1a467f;
	}
}