/**
 * Maintain Aspect Ratio Mixin
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/**
 * Fluid Aspect: A Sass mixin for creating intrinsic ratios
 * from https://gist.github.com/jonathantneal/a9b8901273475d261dd3
 */
@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
	$selector: unquote($selector);

	padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
	position: relative;

	#{$selector} {
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.ratio-sixteen-nine {
	@include fluid-aspect(16 9);
}

.ratio-four-three {
	@include fluid-aspect(4 3);
}