@media all and (max-width: 1200px) {
	.hide-on-mobile {
		display: none;
	}
	body {
		margin-top: 80px;
		.site-wrapper {
			margin-top: 25px;
		}
		.docs-container {
			margin: 75px -15px 0;
		}
		.blog-container {
			margin: 75px 0 0;
		}
		.container {
			position: relative;
		}
		.anchor {
			top: -150px;
		}
		h2 {
			font-size: 30px;
			font-weight: 300;
		}
		h3 {
			font-size: 20px;
		}
		p {
			margin: 10px 0;
			font-size: 18px !important;
			line-height: 22px;
		}
		h6 {
			margin-top: 10px !important;
			font-size: 18px !important;
		}
		.more {
			.divider {
				margin: auto;
				max-width: 20px;
				border-width: 1px;
			}
		}
		hr.divider {
			margin: 12px 0;
			max-width: 20px;
			border-width: 1px;
		}
		&.home section {
			padding: 30px 0;
			h2 {
				font-size: 30px;
			}
		}
		.box-container {
			.box {
				h2 {
					font-size: 30px;
				}
				.box-content {
					margin: 15px 0;
				}
			}
		}
		.pagination {
			.previous,
			.next {
				display: inline-block;
				width: 30px;
				height: 30px;
				margin: 2px;
				text-align: center;
				line-height: 26px;
				border: 2px solid rgba(26,70,127, .2);
				border-radius: 100%;
			}
		}
		.arrow-left {
			height: 20px;
			margin-left: 0;
		}
		.arrow-right {
			height: 16px;
			margin-left: 4px;
		}
		.post-page {
			padding-top: 100px;
		}
		.threads {
			li {
				h2, time, span, strong {
					line-height: normal;
					margin: 10px 0;
				}
				a {
					font-size: 18px;
				}
				h2, strong {
					margin: 20px 0;
				}
				span, strong {
					border-left: 0;
				}
			}
		}
		.metro-block {
			h3 {
				font-size: 24px;
			}
		}
		.more a,
		.learn-more a,
		.read-more {
			font-size: 18px !important;
		}
		.col-vertical-menu {
			position: fixed;
			z-index: 5;
			float: right;
			margin-bottom: 60px;
			padding: 0;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background-color: #FFF;
			box-shadow: 0 20px 15px rgba(26,70,127, .1);
			h2 {
				font-size: 20px !important;
				line-height: 50px;
				strong {
					margin-left: 5px;
					color: #f42233;
				}
			}
		}
		.vertical-menu {
			display: none;
			position: absolute;
			top: 50px;
			width: 100% !important;
			margin: 0 0 15px;
			text-align: center;
			border-top: 1px solid #d1dae5;
			border-radius: 0;
			background-color: rgba(255,255,255, 0.9);
			li {
				a {
					display: block;
					height: 40px;
					line-height: 40px;
					padding: 0;
					color: #1a467f;
					text-decoration: none;
					&.active{
						background-color: transparent;
						color: #f42233;
					}
				}
			}
			.tags {
				padding: 18px 30px 0;
				margin-top: 18px;
				border-top: 1px solid #d1dae5;
				li {
					display: inline-block;
					margin: 0 4px 8px 0;
					a {
						padding: 1px 8px 2px;
						line-height: initial;
						height: auto;
					}
				}
			}
		}
	}
}
@media all and (max-width: 991px) {
	body {
		.metro-block {
			h3 {
				font-size: 20px;
			}
		}
		.banner-section {
			.banner-text {
				padding: 35px 0;
				h1 {
					font-size: 36px;
					line-height: normal;
				}
			}
			p, h4, button {
				display: none;
			}
			img {
				top: -125px;
			}
		}
		&.home .carousel-section {
			h4 {
				font-size: 20px;
				line-height: normal;
				font-weight: 300;
			}
		}
		footer {
			padding-top: 40px;
			div:first-child {
				text-align: center !important;
			}
			.footer-below .nav {
				text-align: center !important;
			}
		}
		.navbar-nav {
			display: none;
			float: none !important;
			li  {
				width: 100%;
			}
		}
		.mobile-menu {
			display: block;
			padding: 33px 15px;
		}
		&.mobile-menu-on {
			overflow: hidden;
			.navbar {
				position: fixed;
				width: 100%;
				z-index: 10;
				top: 0;
				margin: 0;
				color: #fff;
				display: block;
			}
			.mobile-menu {
				span {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				span:before {
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					transform: rotate(90deg);
					top: 0;
				}
				span:after {
					background: transparent;
				}
			}
			.table-cell {
				display: table-cell;
				vertical-align: middle;
			}
			.navbar-nav {
				display: table-cell;
				text-align: center;
				margin: 0 !important;
				width: 100%;
				left: 0;
				vertical-align: middle;

				li {
					width: 100%;
					height: calc(100% / 9);
					display: table;
					vertical-align: middle;
					a {
						font-size: 30px;
						vertical-align: middle;
						display: table-cell;
						float: none !important;
					}
					a.btn {
						display: inline-block;
						width: auto;
						font-size: 20px;
						margin: 0;
					}
				}
			}
			header {
				.navbar {
					.collapse {
						display: table !important;
						margin: 0;
						border: 0;
						width: 100%;
						height: calc(100% - 80px) !important;
						position: fixed;
						left: 0;
						padding: 0;
						top: 80px;
						background: rgba(28,28,28,0.9);
						box-shadow: none;
					}
					@media all and (max-height: 430px) {
						.collapse {
							display: block !important;
							overflow-y: scroll;
							.navbar-nav {
								display: inline-block;
								text-align: center;
							}
						}
					}
				}
			}
		}
		.box-container {
			.box {
				h2 {
					font-size: 26px;
				}
				.box-content {
					.text-content {
						padding: 20px;
					}
				}
			}
		}
	}
}
@media all and (min-width: 992px) {
	footer {
		.text-left {
			text-align: left !important;
		}
	}
}
@media all and (max-width: 767px) {
	body {
		.banner-section {
			img {
				top: -125px;
				max-width: none;
				width: 136%;
				right: 0;
			}
		}
		.navbar .navbar-brand {
			padding: 0 0 0 15px !important;
		}
	}
}
@media all and (max-width: 553px) {
	body {
		.banner-section {
			img {
				top: -125px;
				max-width: none;
				width: 321%;
				right: -259px;
			}
		}
		.install-text {
			font-size: 14px !important;
		}
		.box-container {
			.box {
				.box-content {
					.text-content {
						padding: 15px;
					}
				}
			}
			&.downloads-container {
				.install-row {
					padding-left: 5px;
					text-align: left;
				}
				.download {
					font-size: 17px;
				}
			}
		}
	}
}