* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
  box-sizing: border-box;
}

.right {
  float:right;
}

body {
  padding-bottom: 20px;
  margin: 0px;
  font: 14px/1.47 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(#fff, .7);
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  @include background-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  clear: both;
}

p, ul, ol, table, pre, dl {
  margin-bottom: 20px;
}

h1 { font-size: 2.25em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p {
  line-height: 1.7em;
}

a {
  color: $color-yellow;
  font-weight: 400;
  text-decoration: none;
  transition: color 150ms ease;

  &:hover {
    color: lighten($color-yellow, 15%);
  }
}

.small {
  font-size: 12px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

.btn {
  font-size: 14px;
  color: #fff;
  background-color: $color-green;
  border: 1px solid lighten($color-green, 3%);
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(#000, .3);
  padding: 6px 12px;
  display:inline-block;
  text-align:center;
  transition: all 150ms ease;

  &:hover {
    color: #fff;
    border: 1px solid darken($color-green, 3%);
    background-color: darken($color-green, 5%);
    box-shadow: 0;
  }
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width:1050px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid $color-yellow;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #efefef;
  background: #191919;
  font-size: 14px;
  margin: 0 4px;
  padding: 2px 8px;
  border-radius: $border-radius;
}

pre {
  padding:8px 15px;
  background: #191919;
  border-radius: $border-radius;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

#header {
  width: 100%;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  @include box-shadow(0px 1px 3px rgba(0,0,0,.25));
  padding: 10px 0;
  overflow: hidden;

  .nav {
    padding: 0;
    margin: 0;

    .title {
      display: inline-block;
      line-height: 36px;
      font-size: 12px;
      color: rgba(#fff, .6);
      margin-right: 15px;
    }

    h1 {
      display: inline-block;
      line-height: 36px;
      font-size: 12px;
      color: rgba(#fff, .6);
      margin: 0;
    }

    a {
      border: none;
    }

    li {
      display: inline-block;
    }
  }
}

section {
  padding: 0px 0px 50px 0px;
  margin: 0px 0;


  ul li {
    line-height: 2.4em;
  }

  #title {
    border: 0;
    outline: none;
    margin: 0 0 0px 0;
    padding: 0 0 5px 0;

    h1 {
      text-align: left;
      line-height: 1em;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    h5 {
      color: rgba(#fff, .6);
      text-align: center;
      font-weight: 100;
      margin-top: 10px;
      margin-bottom: 40px;
    }

    .credits {
      font-size: 12px;
      color: rgba(#fff, .5);
      margin-top: 0px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }
  }
}

.table_cell {
	display: table-cell;
	background-color: #1a1a1a;
	width:33%;
	text-align:justify;
	padding: 0px 10px 10px 10px;
}

.spacer {
	display: table-cell;
	width: 20px;
}

.table
{
	display: table;
}


@media (max-width: 830px) {
	.table_cell {
		width:100%;
		display: block;
	}

	.spacer {
		display: none;
	}

	.table
	{
		display: block;
	}
}

.table_cell h3 {
	text-align: left;
}

.table:after {
	content: '';
    display: block;
    clear: both;
}

.blue_ruler {
	width: 100%;
	padding: 6px;
	background-color: #1f3646;
	
	a {
		font-weight: bolder;
		color: #fff3e7;
		letter-spacing: 1px;
		margin-right: 25px;
		margin-left: 25px;
		font-family: Verdana;
	}
	
	a:hover {
		color: #fff;
	}
}

.clear {
	clear: both;
}

.blog_box {
	display: table;
	width: 100%;
	margin: 10px;
	background: #191919;
	border-spacing: 10px;
	position: relative;
	
	.post_content {
		display: table-cell;
		background: #191919;
		padding: 0 100px 10px 10px;
		
		h1 {
			padding-top: 0;
			margin: 0;
		}
	}
	
	.circle
    {
		width:80px;
		height:80px;
		border-radius:40px;
		border: 2px solid #7FABE6;
		font-size:12px;
		color:#fff;
		font-weight: bold;
		line-height:80px;
		text-align:center;
		background:#4679BD;
		position: absolute;
		top: 20px;
		right: 20px;
    }
}



@media (max-width: 830px) {
	.blue_ruler {
		a {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

.header_image {
	display: block;
	margin-top: 12px;
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

@media print, screen and (max-width: 720px) {

  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media print, screen and (max-width: 480px) {

  #header {
    .wrapper {
      padding: 0 10px;
      max-width: none;
    }
  }

  .btn {
    padding: 10px;
    width: 100%;
  }

  .nav {
    display: none;
  }
}
