---
layout: default
---

<div class="col-md-12 col-vertical-menu hide-on-desktop">
	<input type="checkbox" class="vertical-menu-button"/>
	<div class="container">
		<h2>
			Category
			<strong>{{ page.category }}	</strong>
		</h2>
		<span class="arrow-down"></span>
		<span class="arrow-up"></span>
	</div>
	{% include category-menu.html %}
</div>
<div class="container">
	<div class="site-wrapper blog-container">
		<div class="row">
			<div class="col-lg-9 blog-post-container grid" data-packery='{ "itemSelector": ".grid-item"}'>
				{% for post in site.posts %}
					{% if page.url contains "/category" %}
						{% if post.category == page.category %}
							{% include blog-post.html %}
						{% endif %}
					{% elsif page.url contains "/tag" %}
						{% if post.tags contains page.tag %}
							{% include blog-post.html %}
						{% endif %}
					{% else %}
						{% include blog-post.html %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-lg-3">
				{% include searchfilter.html %}
			</div>
		</div>
	</div>
</div>