---
layout: default
---
<div class="container">
	<div class="row">
		<article class="col-lg-9">
			<div class="blog-post col-lg-12">
				{% if page.img %}
				<img src="{{ page.img }}"/>
				{% endif %}
				<div class="content">
					<time>{{ page.date | date_to_long_string }}</time>
					<a href="#" class="category">{{ page.category }}</a>
					<h2>{{ page.title }}</h2>
					<hr class="divider"/>
					{{ page.excerpt }}
					<ul class="tags">
						{% for tag in page.tags %}
							<li><a href="#">{{ tag }}</a></li>
						{% endfor %}
					</ul>
					<hr class="divider"/>
				</div>
			</div>
			<div id="disqus_thread"></div>
			<script>
				(function() {
					var d = document, s = d.createElement('script');

					s.src = '//davidklausz.disqus.com/embed.js';

					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</article>
		<div class="col-lg-3">
			{% include searchfilter.html %}
		</div>
	</div>
</div>
