---
layout: default
---
<section>

  <div id="title">
    <h1>{{ page.title }}</h1>
    <h5>{{ page.secondary-title }}</h5>
	{{ page.date | date: '%B %d, %Y' }}
    <hr>
    <span class="credits left">{% for tag in page.categories %}<a href="{{ site.url }}/categories/index.html#{{ page.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>
  </div>

  {{ content }}

  <div class="page-navigation">
    <div class="left">
      {% if page.previous.url %}
      <a href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>

    <div class="right">
      {% if page.next.url %}
      <a href="{{page.next.url}}" title="next Post:
{{page.next.title}}">{{page.next.title}} &raquo; </a>
      {% endif %}
    </div>
  </div>
</section>

	
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//hexmachina.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>